body {
    font-family: 'Roboto', sans-serif;
    background-color: #D3D3D3;
    background: linear-gradient( #C0C0C0, #e0e0e0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    color: #000000;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
}

label {
    font-size: 15px;
    color: #000000;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #696969;
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus, select:focus {
    border-color: #191970;
    outline: none;
    box-shadow: 0 0 5px rgba(19, 53, 123, 0.3);
}

button {
    background-color: #13357B;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: #000080;
}

.link-container {
    text-align: center;
    margin-top: 20px;
}

.link-container a {
    color:#696969;
    text-decoration: none;
    font-size: 15px;
}

.link-container a:hover {
    text-decoration: underline;
}